{{/* Font selector for body text typography */ -}}
<div class="td-font-menu dropdown">
  <a class="nav-link dropdown-toggle td-font-menu__title d-flex align-items-center" href="#" role="button"
    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa-solid fa-font"></i>
    <span class="td-font-menu__title-text">字体</span>
  </a>
  {{/* */ -}}

  <ul class="dropdown-menu">
    <li><a class="dropdown-item font-option d-flex align-items-center" data-font="default" href="#">系统默认</a></li>
    <li><a class="dropdown-item font-option d-flex align-items-center" data-font="songti" href="#">宋体</a></li>
    <li><a class="dropdown-item font-option d-flex align-items-center" data-font="fangsong" href="#">仿宋</a></li>
    <li><a class="dropdown-item font-option d-flex align-items-center" data-font="heiti" href="#">黑体</a></li>
    <li><a class="dropdown-item font-option d-flex align-items-center" data-font="kaiti" href="#">楷体</a></li>
  </ul>
</div>
{{/* */ -}}
